In [26]:
import pandas as pd
import numpy as np

Question 1 Pandas version

What's the version of Pandas that you installed?

Answer : '2.2.2'

In [3]:
pd.__version__

'2.2.2'

Question 2 Records count

How many records are in the dataset?

12

1000

2160

12160

Answer : 2160

In [4]:
data = pd.read_csv('laptops.csv')
data

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

Question 3 Laptop brands

How many laptop brands are presented in the dataset?

12

27

28

2160

Answer: 27

In [5]:
data['Brand'].nunique()

27

In [6]:
data['Brand'].value_counts()

Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Deep Gaming           8
Primux                8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

Question 4 Missing values

How many columns in the dataset have missing values?

0

1

2

3

Answer : 3

In [7]:
missing_values_per_column = data.isnull().sum()
columns_with_missing_values = missing_values_per_column[missing_values_per_column > 0].count()
print("Total Columns with Missing Value:", columns_with_missing_values)

Total Columns with Missing Value: 3

Question 5 Maximum final price


What's the maximum final price of Dell notebooks in the dataset?

869

3691

3849

3936

Answer : 3936

In [8]:
dell_notebooks = data[data['Brand'] == 'Dell']

# Find the maximum final price among Dell notebooks
max_final_price_dell = dell_notebooks['Final Price'].max()

# Print the result
print("Maximum final price of Dell notebooks:", max_final_price_dell)

Maximum final price of Dell notebooks: 3936.0

Question 6 Median value of Screen

Find the median value of Screen column in the dataset. Next, calculate the most frequent value of the same Screen column.Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step. Now, calculate the median value of Screen once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

Yes
No
Answer : No

In [32]:
initial_median_screen = data['Screen'].median()
most_frequent_screen = data['Screen'].mode()
data['Screen'].fillna(most_frequent_screen, inplace=True)
updated_median_screen = data['Screen'].median()
has_changed = initial_median_screen != updated_median_screen
print("Has the median value changed?", "Yes" if has_changed else "No")

Has the median value changed? No

C:\Users\sendd\AppData\Local\Temp\ipykernel_24032\2984673917.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Screen'].fillna(most_frequent_screen, inplace=True)

Question 7. Sum of weights


0.43

45.29

45.58

91.30

Answer : 91.30

In [31]:
innjoo_laptops = data[data['Brand'] == 'Innjoo']
selected_columns = innjoo_laptops[['RAM', 'Storage', 'Screen']]
X = selected_columns.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = XTX_inv @ X.T @ y
sum_w = np.sum(w)
print("Sum of all elements of the result:", sum_w)

Sum of all elements of the result: 91.2998806299555